@import "../../../../styles/colors";

.basic-info {
    .warning {
        background-color: rgba($color: orange, $alpha: 0.5);
        width: 90%;
        height: 10%;
        border-radius: 10px;
        padding: 5%;
    }

    .form {
        width: 100%;
        height: 60vh;
        margin-bottom: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7%;

        .input {
            width: 80%;
        }

        .error {
            color: red;
        }
    }
}

