@import "../../../../styles/colors";

.start {
    width: 100%;
    height: 100%;
    position: relative;

    p {
        position: absolute;
        left: 2vw;
        top: 13vh;
        background-color: $c-accent;
        color: $c-accent-font;
        padding: 3vh 3vh;
        width: 80%;
        font-size: 9vw;
        font-weight: 600;
        border-radius: 20px;
    }

    img {
        position: absolute;
        left: -30%;
        right: -30%;
        top: -5%;
        bottom: -5%;
        width: 165vw;
        object-fit: cover;
        z-index: -1;
        max-width: none;
    }

    .start-button {
        position: absolute;
        width: 100%;
        bottom: -7%;

        &:active {
            transform: translate(0, -5px);
        }
    }
}