<div class = "basic-info">
  <div class = "info">
    <span>Fill in the details about your Mortage</span>
  </div>

  <form class="form">

    <mat-form-field class = "input">
      <mat-label>Mortgage type</mat-label>
      <mat-select #type>
        <mat-option value="F">Fixed rate mortgage</mat-option>
        <mat-option value="R">Adjustable rate mortgage</mat-option>
        <mat-option value="P">Adjustable period mortgage</mat-option>
      </mat-select>
      <mat-hint>What type of mortgage is it?</mat-hint>
    </mat-form-field>

    <mat-form-field class = "input">
      <mat-label>Total amount</mat-label>
      <input  matInput placeholder="total, no decimals" #total>
      @if (!IsNumber(total.value)) {
        <mat-hint class = "error">Please enter a valid amount</mat-hint>
      }
      @else {
        <mat-hint>How much is the mortgage</mat-hint>
      }
    </mat-form-field>

    <mat-form-field class = "input">
      <mat-label>interest</mat-label>
      <input  matInput placeholder="interest in %" #interest>
      @if (!IsFloat(interest.value)) {
        <mat-hint class = "error">Please enter a valid interest</mat-hint>
      }
      @else {
        <mat-hint>what is the year on year interest?</mat-hint>
      }
    </mat-form-field>

    <mat-form-field class = "input">
      <mat-label>Time</mat-label>
      <input  matInput placeholder="Time in years" #time>
      @if (!IsNumber(time.value)) {
        <mat-hint class = "error">Please enter a valid time</mat-hint>
      }
      @else {
        <mat-hint>How long in years</mat-hint>
      }
    </mat-form-field>

    <mat-form-field class = "input">
      <mat-label>Payed off</mat-label>
      <input  matInput placeholder="payed off, no decimals" #payedoff>
      @if (!IsNumber(payedoff.value)) {
        <mat-hint class = "error">Please enter a valid amount</mat-hint>
      }
      @else {
        <mat-hint>How much have you payed off?</mat-hint>
      }
    </mat-form-field>

  </form>
  <app-Button-Round
   (Click)="OnNext(type.value, total.value, interest.value, time.value, payedoff.value)" 
   fontColor="darkgreen" 
   color="aquamarine" 
   content="Next" 
   fontSize = "5vw" 
   class = "button"
   [style]="'opacity: ' + (CanClickNext(type.value, total.value, interest.value, time.value, payedoff.value) ? '100%;' : '50%;')"
   ></app-Button-Round>
</div>
