<div class = "basic-info">
  <div class = "warning">
    <span>Your data is stored on device. We do not save your data on servers</span>
  </div>

  <form class="form">

    <mat-form-field class = "input">
      <mat-label>Debt type</mat-label>
      <mat-select #type>
        <mat-option value="PL">Personal loan</mat-option>
        <mat-option value="FC">Flexibal credit</mat-option>
        <mat-option value="R">In red</mat-option>
        <mat-option value="PL">Pay later</mat-option>
        <mat-option value="C">Credit card</mat-option>
        <mat-option value="L">Leasing</mat-option>
        <mat-option value="BB">Buy back</mat-option>
      </mat-select>
      <mat-hint>What type of debt is it?</mat-hint>
    </mat-form-field>

    <mat-form-field class = "input">
      <mat-label>Total amount</mat-label>
      <input pattern="[0-9]{1,2}" type="number" matInput placeholder="Your Age" #total>
      @if (!IsNumber(interest.value)) {
        <mat-hint class = "error">Please enter a valid amount</mat-hint>
      }
      @else {
        <mat-hint>How much is the debt</mat-hint>
      }
    </mat-form-field>

    <mat-form-field class = "input">
      <mat-label>interest</mat-label>
      <input pattern="[0-9]{1,2}" type="number" matInput placeholder="Your Age" #interest>
      @if (!IsFloat(interest.value)) {
        <mat-hint class = "error">Please enter a valid interest</mat-hint>
      }
      @else {
        <mat-hint>what is the year on year interest?</mat-hint>
      }
    </mat-form-field>

    <mat-form-field class = "input">
      <mat-label>Time</mat-label>
      <input pattern="[0-9]{1,2}" type="number" matInput placeholder="Your Age" #time>
      @if (!IsNumber(interest.value)) {
        <mat-hint class = "error">Please enter a valid time</mat-hint>
      }
      @else {
        <mat-hint>How long in months</mat-hint>
      }
    </mat-form-field>

  </form>
  <app-Button-Round
   (Click)="OnNext(type.value, total.value, interest.value, time.value)" 
   fontColor="darkgreen" 
   color="aquamarine" 
   content="Next" 
   fontSize = "5vw" 
   class = "button"
   [style]="'opacity: ' + (CanClickNext(type.value, total.value, interest.value, time.value) ? '100%;' : '50%;')"
   ></app-Button-Round>
</div>
